<nav class="navbar mx-3 my-3 w-auto rounded-box bg-base-300">
	<div class="w-1/5 justify-start gap-1">
		<ul class="menu menu-horizontal items-center text-base">
			<li><a href="/" class="px-3 text-2xl font-bold">Cinema</a></li>
			<li><a href="/news" class="px-3 font-medium">News</a></li>
			<li><a href="/pricing" class="px-3 font-medium">Pricing</a></li>
		</ul>
	</div>
	<div class="w-3/5 justify-center">
	</div>
	<div class="w-1/5 justify-end gap-1">
		<ul class="menu menu-horizontal items-center text-base">
			<li><a href="/login" class="px-3 font-medium">Login with Google</a></li>
		</ul>
	</div>
</nav>